body{
    display: flex;
    flex-direction: column;
    background-color: wheat
}
.container1,.container2,.container3,.container4{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
button{
    margin: 0px 30px;
}
.choice{
    width: 8vw;
    height: 10vh;
    padding: 2vw;
}